
.resources-main {
    width: 100vw;
    /* max-width: 100%; */
  }


.resourceView {
    margin-left: 5%;
    margin-right: 5%;
}

@media screen and (min-width: 1000px) {
    .resourceView  {
      margin-left: 15%;
      margin-right: 5%;
      max-width: 1280px;
    }
  }

img{
    max-width: 100%
}
a{
    color:#3f51b5;
}

h3{
    font-size: 19px;
}

