.social-media-div {
  max-width: 95%;
  font-size: 2em;
  text-align: center;
}

.icon-button i {
  color: white;
}
.icon-button {
  margin-bottom: 10px;
}

.icon-button i {
  border-radius: 2.1rem;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  height: 2.1rem;
  line-height: 2.1rem;
  margin: 0 3px;
  position: relative;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 2.1rem;
  margin-bottom: 10px;
}

.google_scholar i {
  background-color: #3f51b5;
}

.linkedin i {
  background-color: #3f51b5;
}

.github i {
  background-color: #3f51b5;
}

.gitlab i {
  background-color: #fca326;
}

.google i {
  background-color: #3f51b5;
}

.twitter i {
  background-color: #3f51b5;
}

.instagram {
  background-color: #3f51b5;
}

/*Hover Transition*/
.twitter i:hover, .google i:hover, .gitlab i:hover,
.github i:hover ,.linkedin i:hover ,.facebook i:hover, .instagram i:hover{
  background-color: black;
  transition: 0.3s ease-in;
}

/* Media Query */
@media (max-width: 768px) {
  .social-media-div {
    text-align: center;
  }
}
