.footer-text {
  text-align: center;
  color: #9ba1a6;
  font-family: "Google Sans Regular";
}

/* .footer-div {
  margin-top: 2rem;
  background-color: #9ba1a6;
} */
.social-media{
  max-width: 100%;
}

.footer-div {
  clear: both;
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  clear: both;
  margin-top: 3em;
  color: #9ba1a6;
  -webkit-animation: intro 0.3s both;
  animation: intro 0.3s both;
      animation-delay: 0s;
  -webkit-animation-delay: 0.45s;
  animation-delay: 0.45s;
  background-color: #f2f3f3;
  border-top: 1px solid #bdc1c4;
}
