  .greeting-text {
    /* margin-top: 40px; */
    font-size: 1.5rem;
    /* line-height: 1.1; */
    font-family: "Montserrat",sans-serif;
  }

  .greeting-text-p {
    font-size: 0.9rem;
    /* line-height: 10px; */
    margin-right: 20px;
    font-family: "Montserrat",sans-serif;
    text-align: center;
  }
  @media screen and (min-width: 1000px) { 
  .side-main{
    /* max-width: 350px; */
    flex: 0 0 33.33333333%;
    max-width: 33.33333333%;
  }
}
  .greeting-text-div {
    text-align: center;
  }
  
  .greeting-image-div{
    text-align: center;
    margin-top: 20px;
  }

  .greeting-main > a {
    color: #3f51b5;
    text-decoration: none !important;
  }
  @media screen and (min-width: 1000px) {
  .greeting-main > .col-lg-8 {
    flex: 0 0 66.66666667%;
    max-width: 66.66666667%;
  }
}
  .greeting-image-div > img {
    max-width: 60%;
    border-radius: 50%;
    height: auto;
  }

  
  
  /* Media Query */
  @media (max-width: 1380px) {
      /* .greeting-text {
        font-size: 50px;
      } */
    .greeting-text-p {
      font-size: 20px;
    }
  }
  @media (max-width: 768px) {
    .button-greeting-div {
      justify-content: space-around;
    }
    .greeting-text {
      font-size: 30px;
      margin-top: 0px;
      text-align: center;
    }
        .greeting-text-p {
      font-size: 16px;
      margin-right: 0px;
      line-height: normal;
      text-align: center;
    }
}
  